body{
margin: 0;}
.Nav p{
  background-color: #269CF0;
  display: flex;
  padding: 20px;
  color: whitesmoke;
  margin-right: 30px;
  border-radius: 25px;
}
.Nav {

    width: 100%;
    height: 20vh;
    background-color: #172554;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
.Nav a{
  color: whitesmoke;
  text-decoration:none;
  margin-left: 20px;
  padding: 20px;
}
  .Nav a:hover {
    background-color: #5e5b604a;
    color: whitesmoke;
  }

  #playlist-list {
    list-style: none; /* Elimina los marcadores de lista predeterminados */
    padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
    margin: 0; /* Elimina los márgenes predeterminados de la lista */

  }
  
  #playlist-list li {
    display: inline-block; /* Muestra las listas de reproducción en línea */
    margin-right: 10px; /* Espacio entre las listas de reproducción */
  }  
div.Art-Box {
  height: 470px;
  width: 100%;
  background-color: #333333;
  display: flex;
}
#columna{
  flex-direction: column;
  height: 490px;
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

div.caratula {
    background-color: #172554;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


div.caratula img#cover{
    height: 10vw;
    width: 10vw;
    border-style: none;
    order:2;
}
div.informacion{
    border:3px ridge #989c9d70;
    
    background-color:  #989c9d17;
    border-radius:21px;
    text-align: center; 

}
div.informacion-cancion{
    display:inline-block;
    margin:15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center; 
    color: white;
}
div#volume-bar{
    order: 3;
    display: inline-flex;
    text-align: center;
}
div#volume-bar input#duration-bar{
    appearance: none;
    height: 3px;
}

div.Controls-Box{
    height: 10vw;
    width: 100vw;
    background-color: #172554;
    justify-content: center;/* Poner el texto al medio del div */
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;

}

button.controls{
    width: 40px;
    height:40px;
    background-color:#393a39;
    margin: 5px;
    padding:7px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    float:left;
    border-color: #fff;
    border: none;}

button.controls:hover {
    background: #269CF0;
    color: #fff !important;
  }

div#llistamusica{
    border-color: #3f344a;
    color: #fff;
    list-style: none;
    background-color: #3f344a;
    width: 20vw;
    height: 10vw;
}
/* Estilo para el contenedor de la lista de reproducción activa */
#playlist-act {
    margin-top: auto;
    width: 350px; /* Ancho del contenedor (ajusta según tus preferencias) */
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical */
    background-color: #494d4b42;;
/* Ancho de la barra de desplazamiento (puedes usar "auto" o "thin") */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin: 20px;
    height: 300px;

  }
  
  
  /* Estilo para la lista de canciones dentro de #playlist-act */
  #playlist-act #song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 10px;
  }
  
  /* Estilo para cada elemento de la lista de canciones dentro de #playlist-act */
  #playlist-act #song-list li.song-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #b1337600;
    margin-bottom: 10px;
    width: 310px;
    border-radius: 10px;
    background-color: #172554;
  }
  #playlist-act #song-list li.song-item:hover {
    background-color: #269CF0;
  }
#afegir-canco{
  display: flex;
  align-items: center;
  padding: 5px;
  border: none ;
  margin-bottom: 10px;
  width: 310px;
  border-radius: 10px;
  background-color: #172554;
  margin-left: 10px;
}
#afegir-canco a{
  color: white;
  text-decoration:none;
}
#afegir-canco:hover{
  background-color: #269CF0;
  }
#borrar-playlist{
  display: flex;
  align-items: center;
  padding: 5px;
  border: none ;
  margin-bottom: 10px;
  width: 310px;
  border-radius: 10px;
  background-color: #172554;
  margin-left: 10px;
}
#borrar-playlist:hover{
background-color: #269CF0;
}
#borrar-playlist a{
  color: white;

  text-decoration:none;

}
#playlist-act #song-list li.song-item .delete-button{
  width: 20px; /* Ajusta el ancho de acuerdo a tus necesidades */
  height: 20px;
    background-image: url('./img/deletebttn.png'); 
    border: none; /* Elimina el borde si lo deseas */
    background-size: cover; /* Esto ajustará la imagen para cubrir completamente el área del botón */
    background-color: #3f344a00;
    
}
button.afegirllista{
  width: 50px; /* Ajusta el ancho de acuerdo a tus necesidades */
  height: 50px;
    background-image: url('./img/addbtn.png'); 
    border: none; /* Elimina el borde si lo deseas */
    background-size: cover; /* Esto ajustará la imagen para cubrir completamente el área del botón */
    background-color: #3f344a00;
}
button.afegirllista:hover{
    background-color: #5e5b604a;
}


  
  /* Estilo para la imagen de la portada dentro de #playlist-act */
  #playlist-act #song-list li.song-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  /* Estilo para el título de la canción dentro de #playlist-act */
  #playlist-act #song-list li.song-item .title {
    font-weight: bold;
    color: #fff;
  }
  
  /* Estilo para el artista de la canción dentro de #playlist-act */
  #playlist-act #song-list li.song-item .artist {
    color: #ffffff;
    margin-left: 10px;
  }
  #playlist-act #song-list li.song-item .delete-button {
    color: #ffffff;
    margin-right: 10px;
  }
 

  